target/
.project
.classpath
.settings/
.DS_Store
*.swp
*~
MANIFEST.MF
*.iml
*.ipr
*.iws
.idea/
*.pid

### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
